* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#container-event {
    padding-bottom: 10px;
    border: 1px solid black;
}
        #container-event #bg-event img{
            width: 100%;
        }
    /* time-money */
    #container-event #time-money {
        transform: translateY(-50px);
        margin: 20px;
    }
        #container-event #time-money button{
            padding: 10px;
            background-color: #00379c;
            border: 1px solid #00379c;
            color: white;
            margin: 5px;
            box-shadow:1px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
        #container-event #time-money span {
            color: white;
            float: right;
            padding: 10px;
            background-color:#ff6900;
            border: 1px solid #ff6900;
            text-align: center;
            justify-content: center;
            border-radius: 50%;
        }
    /* infor-event */
    #container-event #infor-event {
        margin-bottom: 50px;
        line-height: 2.5;
        margin: 20px;
    }
        #container-event #infor-event .title{
            text-transform: uppercase;
        }
        #container-event #infor-event i{
            color: #ff6900;
            margin: 20px;
        }
        #container-event #infor-event .infor-data{
            color: #464646;
        }
        .d-flex{
            display: flex;
        }
        .flex-grow-1 {
            flex-grow: 1;
        }
        .flex-grow-2 {
            flex-grow: 2;
        }
    /* about-event */
    #container-event #about-event {
        line-height: 1.5;
        margin: 20px;
    }
    /* slide-img-event */
    #container-event #slide-img-event {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: center;
    }
    #container-event #slide-img-event img {
        width: 100%;
    }
  
    /* select-event */
    #container-event #select-event {
        margin: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
        #container-event #select-event h3 {
            padding: 10px 0;
            margin: 5px;

        }
            #container-event #select-event .select-teacher .infor-teacher{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                text-align: center;
            }  
                #container-event #select-event .select-teacher .infor-teacher .card-teacher{
                    margin: 10px;
                    line-height: 1.5;
                    padding: 10px;
                }
        #container-event #select-event .select-time-number {
            line-height: 1.5;
        }
            #container-event #select-event .select-time-number .time-select{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
                #container-event #select-event .select-time-number .time-select button{
                    margin: 5px;
                    padding: 10px;
                    border: none;
                    background-color: #f1f1f1;
                    border-radius: 5px;
                }
                #container-event #select-event .select-time-number .time-select .active{
                    background-color: #ff6900;
                    color: white;
                }
                /* change-amount */
                    .change-amount{
                        padding: 0px;
                        background-color: #f1f1f1;  
                    }
                    .change-amount{
                        display: inline-block;
                    }
                    .change-amount span {
                        padding: 0px 20px;
                    }
                    .change-amount button  {
                        border: none;
                        padding: 5px;
                        border-radius: 5px;   
                        background-color: #4d9dff;
                        color: white;

                    }
    #container-event .btn-booknow {
        display: flex;
        justify-content: center;
    }
        #container-event .btn-booknow button{
            background-color: #ff6900;
            border: none;
            color: white;
            padding: 10px 100px;
            margin: 10px;
        }


@media (max-width : 1024px){
    /* select-event */
    #container-event #select-event {
        grid-template-columns: repeat(2, 1fr);
    }
        #container-event #select-event .select-teacher .infor-teacher{
            grid-template-columns: repeat(2, 1fr);
        }
}
@media (max-width : 500px){
    /* infor-event */
    #container-event #infor-event {
        margin-bottom: 10px;
        line-height: 1.5;
        margin: 20px;
    }
        #container-event #infor-event .title h2{
            font-size: 16px;
        }
        #container-event #infor-event .infor-data{
            font-size: 10px;
        }
        #container-event #infor-event i{
            color: #ff6900;
            margin: 10px;
        }  
     /* select-event */
     #container-event #select-event {
        margin: 10px;
     }
     #container-event #select-event h3{
         font-size: 14px;
     }
     #container-event #select-event  p,b{
         font-size: 10px;
     }
     #select-event .select-teacher .card-teacher img {
         width: 80px;
         height: 80px;
     }
     #container-event #select-event .select-teacher .infor-teacher .card-teacher{
        margin-right: 10px;
        line-height: 1.5;
        padding: 0px;
    }
    #container-event #select-event .select-time-number .time-select{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width : 350px){
    #select-event .select-teacher .card-teacher img {
        width: 60px;
        height: 60px;
    }
}

