* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

/* header */
#main-header {
    position: relative;
}
#main-header .navbar {
    
        background: -moz-linear-gradient(bottom, transparent 50%, rgba(0,0,0,0.7) 50%);
        background: -o-linear-gradient(bottom, transparent 50%, #000000b3 50%);
        background: -ms-linear-gradient(bottom,transparent 50%, rgba(0,0,0,0.7) 50%);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, transparent),color-stop(0.7, rgba(0,0,0,0.7)));
    
    top: 0px;
    color: white;
    position :absolute;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    padding: 30px;

}
.center {
    text-align: center;
    justify-content: center;
}
.navbar span {
    text-align: center;
    font-size: x-large;
}

header div ul {
    text-align: center;
    display: block;
}
header div ul li {
    display: inline;
    padding: 10px;
}
header div ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
}
header div ul li a:hover {
    color: #ff6900;
}
.active {
    color: #ff6900;
}
.demo ul li {
    display: inline;
}
header img {
    width: 100%;
    margin: 0;
}
#main-header .navbar-toggler-icon {
    display: none;
}
/* body */
/* search */
#search {
    z-index: +1;
    border: 1px solid #cecece;
    margin: 0px 100px;
    border-radius: 10px;
    padding : 20px;
    transform: translateY(-50%);
    background-color: white;
    /* box-shadow: 5px 5px 5px #cecece; */
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
}
#search form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#search form button,#search form select{
    border: 1px solid #c0bdbdb3;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}
#search button {
    border: 1px solid #ff6900;
    background-color: #ff6900;
    color: aliceblue;
}
#search form select{
    color: #a2a6a7;
}

/* list Event */
.money {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}
.money::before {
    content: '$';
}
.color-logo {
    color: #ff6900;
}
.btn-details {
    border: 1px solid #ff6900;
    background-color: transparent;
    /*trong suot */
    padding: 5px;
    border-radius: 15px;
}
.content-event {
    line-height: 1.5;
}
.content-event div {
    padding: 12px;
}
.btn-day {
    padding: 10px;
    border-radius: 5px;
    background-color: #00379c;
    color: white;
    border: 1px solid #00379c;
}
.card-event {
    display: grid;
    grid-template-columns : 1fr 2fr 1fr;
}
.mg-50 {
    margin: 50px;
}
.img-event {
    width: 100%;
    height: 100%;
    padding: 12px;
}
.text-bottom {
    bottom: 10%;
}
.top-100 {
    top: 100%;
}
.title-event {
    margin: 15px;
}
.list-event {
    margin-left: 50px;
}
#event .list-event .card-event .price{
    position: relative;
   
}
#event .list-event .card-event .price div{
    position: absolute;
    top: calc(100% - 12px);
    left: 50%;
    transform: translate(-50%, -100%);
    
}


/* footer */
footer {
    background-color: black;
    color: #cfcfcf;
}
.footer-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px ;
   
}
.footer-col div {
    padding: 25px 70px;
    justify-content: center;
}
.contact-inp input,
.contact-inp button {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.contact-inp input {
    background-color: transparent;
    border: 1px solid white;
    width: 90%;
}
.contact-inp button {
    background-color: #ff6900;
    color: #f4f4f4;
    border: 1px solid #ff6900;
    width: 100%;
}
.icon-facebook-footer{
    color: #ff6900;
}

@media (max-width : 780px){
    #event .list-event .card-event .price{
        display: none;
       
    }
    #search {
        margin: 0px 20px;
    }
    .list-event {
        margin: 10px;
    }
    .card-event{
        margin: 10px;
    }
    .content-event {
        line-height: 1.5;
    }
    .footer-col {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
   
    .footer-col div{
        padding: 20px;
        text-align: justify;
    }
}
@media (max-width : 500px){
    #main-header .list-item{
        display: none;
    }
    #main-header .navbar-toggler-icon{
        display: block;
        text-align: right;
    }
    #search {
        margin: 0px 5px;
        padding : 5px;
    }
    #search form select,button{
        font-size: 10px;
    }
    #search h1{
        font-size: 20px;
    }
    #search form {
        margin: 0px;
    }
    #search form button, #search form select { 
        padding: 5px;
        margin: 2px; 
    }
    .card-event {
        display: grid;
        grid-template-columns : 1fr;
    }
    #event .list-event .card-event .price {
        float: right;
    }
    .content-event {
        font-size: 12px;
    }
    .content-event div {
        padding: 5px;
    }
}
@media (max-width : 350px){
    #main-header .navbar{
        padding:10px;
    }
    #search {
        margin: 2px;
        padding : 5px;
    }
    #search h1{
        font-size: 16px;
        margin-bottom: 5px;
    }
    #search button i{
        display: none;
    }
    
    #search form button, #search form select { 
        padding: 1px;
        margin: 1px; 
    
    }
    .content-event {
        font-size: 10px;
    }
}